fastapi
uvicorn
gunicorn
python-dotenv
pydantic
python-multipart
email-validator

# Auth
passlib[bcrypt]
python-jose
google-auth

# Database
pymongo
qdrant-client

# LLM + Embeddings
groq
voyageai
tavily-python
langchain
langchain-community
langchain-openai
openai

# Document processing
pdfplumber
python-docx

# Image processing
pillow
pytesseract
opencv-python

# Audio
SpeechRecognition
openai-whisper

# Video
moviepy==1.0.3
ffmpeg-python